/** Portfolio admin styles */
.ac-clone-options-processed input, .ac-clone-options-processed .el label { display: none !important; }
.ac-clone-options-processed .element-inner .el { max-width: 100% !important; display: table; }
.ac-clone-options-processed .el .form-item { width: auto; display: table-cell; vertical-align: top; }
.ac-clone-options-processed .ac-clone-option { display: inline-block; margin: 0 10px 10px 0; text-align: center; width: 120px; }
.ac-clone-options-processed .ac-clone-option.on i { background-position: 0 bottom; }
.ac-clone-options-processed .ac-clone-option span { display: block; }
.ac-clone-options-processed i { display: inline-block; width: 75px; height: 50px; }
.ac-clone-options-processed .ac-val-slideshow i { background: url(../images/admin/slideshow.png); }
.ac-clone-options-processed .ac-val-gallery i { background: url(../images/admin/gallery.png); }
.ac-clone-options-processed .ac-val-list i { background: url(../images/admin/list.png); }
.ac-clone-options-processed .ac-val-left i { background: url(../images/admin/left.png); }
.ac-clone-options-processed .ac-val-right i { background: url(../images/admin/right.png); }
.ac-clone-options-processed .ac-val-before i { background: url(../images/admin/before.png); }
.ac-clone-options-processed .ac-val-after i { background: url(../images/admin/after.png); }
.ac-clone-options-processed .ac-val-disabled i { background: url(../images/admin/no-media.png); }
