// Font Sizes --------------------------------------------------------------
$relative-font-sizing : false;
$base-font-size       : 13px;
$base-l-font-size     : 14px;
$base-line-height     : 22px;

// Ltr Or RTL Direction
$direction : 'LTR';

@if $direction == 'LTR' {
  $from-direction : 'left';
}@else {
  $from-direction : 'right';
}

// Set consistent vertical and horizontal spacing units.
$small-space: 15px;
$medium-space: 20px;
$large-space: 30px;

$horz-spacing-unit: 1em;

// Define Susy grid variables mobile first.
$total-columns: 4;
$column-width: 4em;
$gutter-width: $horz-spacing-unit;
$grid-padding: 40px;

$container-style: magic;
$container-width: 1320px;

$mobile-portrait-width : 300px;
$mobile-mid-width : 540px;
$mobile-landscape-width : 640px;
$tab-width : 768px;
$big-scr-width : 960px;
$desk-width : 1210px;

$mobile-portrait: $mobile-portrait-width 1; // At 12em use 1 columns.

$mobile-landscape: $mobile-landscape-width 2; // At 22em use 2 columns.
$mobile-landscape-max: 2 $mobile-landscape-width;

// Mobile Middle
$mobile-mid: $mobile-landscape-width $mobile-mid-width 2; // 
$mobile-mid-max: 2 $mobile-mid-width;

$tab: $tab-width 4; // At 44em use 12 columns.
$tab-max: 4 $tab-width; // At 44em use 12 columns.
$big-scr: $big-scr-width 8; // At 51em use 12 columns.
$desk: $desk-width 12; // At 70em use 12 columns.

