//  $VLIST

// Sidemenu vertical bordered list
%side-menu-v-list{
  li{
    @extend %bordered-box;
    @extend %content-divider-color !optional;
    border-width: 0 0 1px;
  }
  a{
    display: block;
    position: relative;
    padding: $medium-space/2 0;
    text-decoration: none;
    @include left-space($medium-space, padding);
    &:hover{
      @extend %theme-active-color !optional;
    }
  }
  a:before{
    @extend %ac-font-fontello;
    @extend %mini-fontello-r-arrow;
    display: block;
    position: absolute;
    top: 14px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    font-size: 18px;
    @include position('left', 0);
  }
}