// ADMIN COLORS
$vtabs-bg-color: #4c5566;
$header-color: #f9fafc;
$vtabs-border-color: #e5e5e5;
$admin-olive: #26ae90;
$form-item-border: #eee;
$danger: #fa4c38;
$danger-dker: #fb6b5b;
$success: #92cf5c;
$blue-dkr: #7dc63c;
$info: #5dcff3;
$info-dker: #39b3d7;
$footer-color: #f3f5f9;

$blue: #2A83ED;
$blue-dkr: #126dde;

$highlight-bg-color: #F1F1F1;
