@font-face {
  font-family: 'fontadmin';
  src: url('../font/fontadmin.eot?67511443');
  src: url('../font/fontadmin.eot?67511443#iefix') format('embedded-opentype'),
       url('../font/fontadmin.woff?67511443') format('woff'),
       url('../font/fontadmin.ttf?67511443') format('truetype'),
       url('../font/fontadmin.svg?67511443#fontadmin') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontadmin';
    src: url('../font/fontadmin.svg?67511443#fontadmin') format('svg');
  }
}
*/
 
 [class^="admin-icon-"]:before, [class*=" admin-icon-"]:before {
  font-family: "fontadmin";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.admin-icon-adjust:before { content: '\e804'; } /* '' */
.admin-icon-layout:before { content: '\e80a'; } /* '' */
.admin-icon-cog-alt:before { content: '\e811'; } /* '' */
.admin-icon-ok:before { content: '\e801'; } /* '' */
.admin-icon-cancel:before { content: '\e802'; } /* '' */
.admin-icon-params:before { content: '\e803'; } /* '' */
.admin-icon-article:before { content: '\e813'; } /* '' */
.admin-icon-down-open:before { content: '\e806'; } /* '' */
.admin-icon-left-open:before { content: '\e807'; } /* '' */
.admin-icon-right-open:before { content: '\e808'; } /* '' */
.admin-icon-up-open:before { content: '\e809'; } /* '' */
.admin-icon-ie:before { content: '\e80e'; } /* '' */
.admin-icon-docs:before { content: '\e80d'; } /* '' */
.admin-icon-magic:before { content: '\e80c'; } /* '' */
.admin-icon-desktop:before { content: '\e80f'; } /* '' */
.admin-icon-code:before { content: '\e80b'; } /* '' */
.admin-icon-dropbox:before { content: '\e810'; } /* '' */
.admin-icon-doc:before { content: '\e805'; } /* '' */
.admin-icon-wrench:before { content: '\e800'; } /* '' */