
.admin-icon-adjust:before { content: '\e804'; } /* '' */
.admin-icon-layout:before { content: '\e80a'; } /* '' */
.admin-icon-cog-alt:before { content: '\e811'; } /* '' */
.admin-icon-ok:before { content: '\e801'; } /* '' */
.admin-icon-cancel:before { content: '\e802'; } /* '' */
.admin-icon-params:before { content: '\e803'; } /* '' */
.admin-icon-article:before { content: '\e813'; } /* '' */
.admin-icon-down-open:before { content: '\e806'; } /* '' */
.admin-icon-left-open:before { content: '\e807'; } /* '' */
.admin-icon-right-open:before { content: '\e808'; } /* '' */
.admin-icon-up-open:before { content: '\e809'; } /* '' */
.admin-icon-ie:before { content: '\e80e'; } /* '' */
.admin-icon-docs:before { content: '\e80d'; } /* '' */
.admin-icon-magic:before { content: '\e80c'; } /* '' */
.admin-icon-desktop:before { content: '\e80f'; } /* '' */
.admin-icon-code:before { content: '\e80b'; } /* '' */
.admin-icon-dropbox:before { content: '\e810'; } /* '' */
.admin-icon-doc:before { content: '\e805'; } /* '' */
.admin-icon-wrench:before { content: '\e800'; } /* '' */