/**
 * $COMMENT-WRAPPER
 */
.comment-wrapper {
  >.s-i{
    padding-top: 0;
  }
}

/** Comment Form **/
.comment-form{
  .form-item-name, .form-item-subject{
    @extend %left-float;
    display: block;
    width: 50%;
  }
  .form-item-name .el{
    @include right-space($medium-space/2, 'margin')
  }
  label{
    display: inline-block;
    @include right-space(20px, 'margin');
  }
}

/*li.comment-add a{
  color: $white;
  @extend %button-default;
  @extend %button-2d-style;
  &:hover{
    @extend %button-2d-style-hover !optional;
  }
}*/