
/* ====================================== */
/* 			Video Dialog
/* ====================================== */

.ui-dialog-content,
.ui-dialog-buttonpane{
	cursor:default;
}

#dialog_video{
	cursor:default;
}

.dialog-video .video-title{
	margin-bottom:5px;
}

.dialog-video .video_example{
	font-style:italic;
	font-size:11px;
	display:block;
	margin-top:2px;
	cursor:text;
}

.dialog-video .button-regular{
	cursor:pointer;
}

.dialog-video .video_left{
	float:left;
	width:300px;
}

.dialog-video .video_right {
	float: left;
	width: 354px;
	margin-left: 20px;
}

.dialog-video #button-video-add{
	color:white;
}

.dialog-video .add-button-wrapper{
	margin-top:30px;
	margin-left:50px;
}

.dialog-video .youtube-inputs-wrapper{
	margin-top:30px;
}

.dialog-video .video-input-small{
	width:50px;
}

.dialog-video #input_youtube_width{
	margin-right:20px;
}

.dialog-video .video-content-title{
	font-weight:bold;
	padding-bottom:5px;
}

.dialog-video .video-content-description{
	padding-top:3px;
}

.dialog-video .video-content-error{
	padding-top:30px;
	text-align:center;
	font-size:16px;
	color:red;
}

.dialog-video .choose-video-type{
	margin-bottom:15px;
}

.dialog-video .video-select-block{
	margin-top:20px;
	border-top:1px dashed black;
	padding-top:15px;
}

.video-type-chooser input{
	margin-right:5px;
}

#video_block_html5{
	width:600px;
}

#video_block_html5 ul {
	list-style-type: none;
	margin: 0
}

#video_block_html5 ul li{
	margin-bottom:20px;
}

#video_block_html5 .video_title2{
	margin-bottom:2px;
}

#video_block_html5 .video_example{
	margin-top:2px;
}

#video_block_html5 ul li input{
	width:400px;
}

.dialog-video .ac-checkbox{
	margin-right: 20px
}

.dialog-video .checkbox_video_dialog{
	margin-left:5px;
	margin-top:2px;
}

#video_radio_youtube,
#video_radio_vimeo,
#video_radio_html5	{ vertical-align: bottom; margin-right:20px;}

.mtop_20 {
	margin-top: 20px !important;
}

label {
	display: inline-block;
	font-weight: normal;
}

input.button-primary:hover, button.button-primary:hover, a.button-primary:hover, a.button-primary:focus, a.button-primary:active {
	border-color: #13455b;
	color: #eaf2fa;
}

input.button-primary, button.button-primary, a.button-primary {
	border-color: #298cba;
	font-weight: bold;
	color: #fff;
	background: #21759b url(../img/button-grad.png) repeat-x scroll left top;
	text-shadow: rgba(0,0,0,0.3) 0 -1px 0;
}

.button, .submit input, .button-secondary {
	background: #f2f2f2 url(../img/white-grad.png) repeat-x scroll left top;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}

.button, .button-secondary, .submit input, input[type=button], input[type=submit] {
	border-color: #bbb;
	color: #464646;
}

.submit input, .button, input.button, .button-primary, input.button-primary, .button-secondary, input.button-secondary, .button-highlighted, input.button-highlighted, #postcustomstuff .submit input {
	text-decoration: none;
	font-size: 12px!important;
	line-height: 13px;
	padding: 3px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

textarea, input, select {
	padding: 3px !important;
}

#page textarea, input[type="text"], input[type="password"], input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="url"], select, .ui-dropdownchecklist-selector {
	border-color: #dfdfdf;
	background-color: #fff;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #dfdfdf;
}

select {
	border: 1px solid #dfdfdf !important;
}

.ac-image-uploader input {
	width: 415px !important;
}

table{
	border: none !important;
}

#ac-pages tr td:last-child{
	border-right: none;
}

#ac-pages .ac-box h4 {
  float: left;
	font-size: 1em;
}

#ac-pages table{
 margin: 0
}

#ac-pages thead td{
 padding: 4px 0
}

#ac-pages .ac-layer-duplicate,
#ac-pages .ac-preview-button {
margin: 5px 5px 0 !important;
float: right
}

#ac-slider-form h2 {
	font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
	padding: 9px 15px 4px 0;
	line-height: 29px;
}

#titlediv #title {
	padding: 3px 8px !important;
	font-size: 1.7em;
	line-height: 100%;
	outline: 0;
	width: 100%;
	box-sizing: border-box;
}

#ac-main-nav-bar a.callbacks {
	border-right: 1px solid #dfdfdf;
}

#ac-main-nav-bar .advanced-help-link{
	border-left: 1px solid #fff;
	background: transparent url(../img/sprite.png) 10px -81px no-repeat;
}

/** Video Layer **/
.ac-layer .slide_layer_video{
	background-color:black;
	position:relative;	
	background-repeat:no-repeat;
	background-position:center center;	
}

.ac-layer .video-layer-inner{
	height:100%;
	width:100%;
	background-repeat:no-repeat;
	background-position:right bottom;
}

.ac-layer .video-icon-youtube{	
	background-image:url(../img/icon_youtube.png);
}

.ac-layer .video-icon-vimeo{	
	background-image:url(../img/icon_vimeo.png);
}

.ac-layer .video-icon-html5{	
	background-image:url(../img/icon_html5.png);
}

.slide_layer_video .layer-video-title{
	color:white;
	padding:10px;
	text-align:center;		
	float: none !important;
}