/*%header-box{
	line-height: 92px;
	height: 92px;
}*/
@media (max-width: 768px) { /** Admin Menu **/
  html body.admin-menu { padding-top: 0 !important; margin-top: 0 !important; }
  /** Topbar **/
  .l-topbar { padding: 0 0 35px !important; position: relative; }
  .l-topbar > span { position: absolute; display: block; bottom: 0; width: 100%; height: 30px; z-index: 99; text-align: left; }
  .l-topbar > span:after { position: absolute; width: 100%; height: 100%; content: ""; background-position: center 5px; background-repeat: no-repeat; background-size: 20px; }
  .l-topbar .ac-topbar-socials ul { float: none !important; margin: 10px 0 5px; }
  .l-topbar .ac-menu .block__content > .menu { text-align: center; }
  .l-topbar section:first-child { margin-top: 10px; }
  .l-page .l-topbar .block, .l-page .l-sub-footer-wrapper .block { text-align: center; width: 100%; display: block; clear: both; margin-bottom: 5px; }
  .l-page .l-hero-breadcrumb-fancy #breadcrumb a { background: transparent; border: 0; }
  .l-page .l-hero-dark #breadcrumb a, .l-page .l-hero-dark #breadcrumb .sep { color: white; }
  /** Header **/
  .l-page .l-header .block { display: none !important; margin-bottom: 2px; }
  .l-page .l-header nav.block { display: table-cell; }
  .l-page .l-header .header-sub { display: none; }
  .l-page .l-header .l-branding, .l-page .l-header .toggle-nav-wrap { display: table-cell; vertical-align: middle; float: none; }
  .l-page .l-header #toggle-nav { margin: 0; }
  .ac-transparent-header.ac-transparent-full .l-header-main .logo-base { display: inline-block; }
  .ac-transparent-header.ac-transparent-full .l-header-main .logo-white { display: none; }
  /** Hero **/
  .l-page .l-hero .block { display: block; clear: both; float: none; margin-bottom: 10px; }
  .l-page .block--ac-blocks-breadcrumb .container { padding: 0; }
  .l-page .block--ac-blocks-breadcrumb .container .breadcrumb { text-align: inherit; }
  .l-page .block--ac-blocks-breadcrumb .container #breadcrumb { float: none; }
  /** Slider **/
  .contentSlider-wrap .contentSlider { height: auto !important; }
  .contentSlider-wrap:hover .ac-slides-nav { display: block; }
  .contentSlider-wrap .slide-media { display: none; }
  .contentSlider-wrap .ac-slides-nav { display: none; }
  .l-page .ei-title h2 { margin-top: 0 !important; }
  /** Content **/
  .l-page .l-content, .l-page aside { padding: 30px 20px 0; }
  .l-page .ac-node-portfolio .container, .l-page .node--forum .container, .l-page .node--blog .container { padding: 0; }
  .l-page .ac-node-portfolio .container .container, .l-page .node--forum .container .container, .l-page .node--blog .container .container { padding: 0 20px; }
  /** Footer **/
  .l-sub-footer-wrapper .block, .l-footer-wrapper .block { display: block; width: 100%; padding: 0 0 20px; }
  .l-sub-footer-wrapper .block:last-child, .l-footer-wrapper .block:last-child { padding: 0; }
  .l-page .l-sub-footer-wrapper .ac-simple-menu-h .menu { text-align: center; }
  /** portfolio **/
  .media .ac-caption { display: none; }
  .ac-portfolio .ac-carousel .item-i { text-align: center; }
  .l-page .ac-portfolio .ac-appearance-slider .o-content { height: auto; right: 0; width: auto; top: auto; }
  .l-page .ac-portfolio .ac-appearance-slider .o-content .o-info { padding: 0 10px; }
  .l-page .ac-portfolio .ac-appearance-slider .o-content .title { font-weight: 300; }
  /** Portfolio **/
  .tag-sortings ul { text-align: left; }
  /** Shortcodes **/
  .l-page .ac-toggle-container.simple-circled-style .ac-toggle-title { line-height: 1; }
  .l-page .ac-toggle-container.simple-circled-style .ac-toggle-tab { margin-bottom: 20px; }
  .l-page .pt-col { -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; border-radius: 6px; }
  .l-page .container { padding: 0 20px; }
  .l-page .ac-callout-content *, .l-page .ac-callout-button { text-align: center; }
  /*  .l-page .ac-container{ 	padding: 0; }*/
  /** Misc **/
  #page .mobile-hidden { display: none; visibility: hidden; }
  #page .mobile-visible { display: block; visibility: visible; }
  #page .stick-footer { bottom: 0 !important; } }
/** mobile portrait view **/
@media (min-width: 300px) { .admin-menu .l-page { margin: 0; }
  html body.admin-menu { margin-top: 0 !important; }
  #toolbar, #admin-menu { display: none; }
  /*  .block{ 	width: 100%; }*/ }
/** mobile landscape view **/
/**  $mobile-portrait-width < X < $mobile-mid-width **/
@media (min-width: 300px) and (max-width: 540px) { .node--teaser .description .item-i { margin: 0; }
  div.ac-node-portfolio.ac-cols .media .item { width: 100%; } }
/**  X < $mobile-mid-width **/
@media (min-width: 540px) { .node--teaser .description .item-i { margin-left: 30px; }
  .node--teaser .node__title { margin-top: 0; } }
/**  $mobile-mid-width < X < $tab-width **/
@media (min-width: 540px) and (max-width: 768px) { .node--teaser .ac-col { clear: none; width: 50%; }
  div.ac-node-portfolio.ac-cols .media .item { width: 50%; }
  .node--teaser .read_more { margin-top: 15px; text-align: center; } }
/** tablet view **/
@media (min-width: 768px) { /** topbar **/
  .l-topbar { padding: 5px 0; }
  .ac-transparent-header .l-topbar { display: none; }
  /** Header **/
  .header-l-center .l-branding { text-align: center; }
  .fixed_showed .l-header-main { display: none; }
  .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a, .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .l-header, .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .cart-toggle-btn .font-icon { color: white; }
  .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a:hover, .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a:after, .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li.sfHover > a, .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a.active-trail { border-color: white; color: white; }
  .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .ac-double-logos .logo-base { display: none; }
  .ac-transparent-header.light-header.ac-transparent-depth-full .l-header-main .ac-double-logos .logo-white { display: inline-block; }
  .ac-transparent-header.dark-header.ac-transparent-depth-full .header-sub { border-color: #333333; }
  .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a, .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .l-header, .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .cart-toggle-btn .font-icon { color: #333333; }
  .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a:hover, .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a:after, .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li.sfHover > a, .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .main-menu > ul > li > a.active-trail { border-color: #333333; color: #333333; }
  .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .logo-base { display: inline-block; }
  .ac-transparent-header.dark-header.ac-transparent-depth-full .l-header-main .logo-white { display: none; }
  /** Hero **/
  .l-hero-breadcrumb-simple .block--ac-blocks-breadcrumb .container { padding: 0; }
  .l-hero-breadcrumb-simple.boxed .block--ac-blocks-breadcrumb { position: absolute; width: 100%; bottom: -1px; left: 0; }
  .l-hero-breadcrumb-simple.boxed #breadcrumb { display: inline-block; background: rgba(0, 0, 0, 0.15); padding: 5px 10px; -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); }
  .l-hero-breadcrumb-simple.boxed #breadcrumb a, .l-hero-breadcrumb-simple.boxed #breadcrumb .sep { color: #FFF; text-transform: uppercase; font-weight: normal; }
  .l-hero-breadcrumb-fancy .breadcrumb { display: inline-block; -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; margin-right: -10px; }
  .l-hero-breadcrumb-fancy .breadcrumb .sep { display: none; }
  .l-hero-breadcrumb-fancy .breadcrumb a { padding: 0 12px; margin-right: 10px; }
  .l-page-subtitle { display: none; }
  .ac-bg-fallback-enabled #ac-bg-fallback-slider { display: none; }
  /** slider **/
  #ac-bg-fallback-slider { display: none; }
  /** content **/
  .has-one-sidebar .l-content, aside.l-region { padding-top: 30px; padding-bottom: 40px; }
  /** Footer **/
  .l-footer-wrapper .block { width: 50%; }
  .l-hero .block, .l-sub-footer-wrapper .block, .l-footer-wrapper .block { padding: 0 20px; }
  /** Blog **/
  .blog-view-circled .img-wrap { width: 65px; height: 65px; }
  .blog-view-circled .title { margin: 0; }
  .blog-view-teaser .title { text-transform: normal; }
  .blog-view-teaser .ac-col { margin-bottom: 0; }
  .ac-related-news .ac-col { margin: 0; }
  /** Shortcodes **/
  .ac-pt.ac-type-labeled .ac-label-col { margin-top: 138px !important; }
  .ac-pt.ac-type-standard .pt-col { border-width: 1px 1px 1px 0; }
  .ac-pt.ac-type-standard .pt-col:first-child { border-left-width: 1px; }
  .ac-team-wrap.ac-type-columns figure { display: block; }
  .ac-team-wrap.ac-type-columns .ac-team-name, .ac-team-wrap.ac-type-columns .ac-team-profile { display: inline-block; vertical-align: top; width: 50%; }
  .ac-team-wrap.ac-type-columns .ac-team-profile { min-width: 250px; }
  .ac-team-wrap.ac-type-columns .ac-team-name { text-align: left; padding-left: 20px; }
  .ac-team-wrap.ac-type-columns .title { margin: 0; }
  /** Comment **/
  .comment-wrapper .indented { margin: 0; }
  .comment-wrapper .indented .comment__content .item-i { margin-left: 40px; }
  .comment-wrapper .indented .comment__content .item-i .indented .comment__content .item-i { margin-left: 60px; }
  .comment-wrapper .indented .comment__content .item-i .indented .comment__content .item-i .indented .comment__content .item-i { margin-left: 100px; }
  /** Sliders **/
  .ac-mini-nav .flex-direction-nav li a.flex-next { right: 30px; }
  .ac-mini-nav .flex-direction-nav li a.flex-prev { left: auto; right: 70px; }
  .ac-mini-nav .flex-direction-nav a { top: 50px; }
  .flexslider.carousel .flex-direction-nav a, .ac-mini-nav .flex-direction-nav a { width: 32px; height: 32px; margin-top: -18px; }
  /** Portfolio **/
  .ac-portfolio.ac-simple-style .ac-appearance-slider .o-content { background: transparent; width: 100%; top: auto; }
  .ac-portfolio.ac-simple-style .ac-appearance-slider .o-content .o-info { padding: 10px 20px; margin: 30px 0; background: #000; background: rgba(0, 0, 0, 0.7); display: inline-block; }
  .ac-portfolio.ac-simple-style .ac-appearance-slider .title { font-size: 16px; font-size: 1.23077rem; margin: 0; }
  .p-items.ac-appearance-thumb .ac-f b, .blog-view-circled .s-img .ac-f b, .l-page .s-img .ac-f b { width: 30px; height: 30px; line-height: 30px; margin-left: -15px; margin-top: -15px; }
  .project-meta { margin-top: 30px; }
  /** Misc **/
  #page .mobile-hidden { visibility: visible; }
  #page .mobile-visible { display: none; visibility: hidden; }
  .ac-stick .img-i { float: left; display: inline-block; }
  .ac-stick div.ac-img-frame-wrap { margin-bottom: 0; }
  .container, body .ac-full-container-width .ac-container { padding: 0 40px; }
  .l-page .ac-page-section-container, .l-page .vc-row-inner { margin-bottom: -30px; z-index: 1; clear: both; } }
/** big screens **/
@media (min-width: 960px) { .l-footer-wrapper .block { width: 25%; }
  /** Portfolio **/
  .tag-sortings { float: left; display: inline-block; }
  .ac-boxed-layout .l-page { -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);}
  .ac-boxed-layout .l-page { margin: 30px auto 20px; }
  .ac-boxed-layout .l-page, .ac-boxed-layout .fixed_header_clone .l-header { max-width: 1300px; margin: 0 auto; } }
/** Desktop view **/
@media (min-width: 1210px) { .admin-menu .l-page, .admin-menu .fixed_header_clone { margin-top: 29px; }
  .ps-layer { position: absolute !important; }
  #toolbar, #admin-menu { display: block; } }
