/* ==========================================================================
   AURA Skin - Modern Business Skin 
   ========================================================================== */

/* Load utility, base and components */
@import "partials/utility";
$accent-color : #EE3124;
$hero-bg-color: #EBEBEB;
$content__dividercolor: #EBEBEB;
$content__framecolor: #F7F7F7;

%submenu-style{
	border: 0!important;
	@include box-shadow(0px 0px 1px 0px rgba(#000, 0.2));
}
/* Topbar
   ========================================================================== */
.l-topbar .ac-menu-h .menu ul{
		@extend %submenu-style;
}

/* Header
   ========================================================================== */
.l-header{
	.l-page &{
		@include box-shadow(0 1px 0 rgba(0, 0, 0, 0.05));
	}
}
.ac-header-search input.form-search{
	@extend %submenu-style;
}
.site-branding__logo img{
	height: 25px;
}


/* Main Menu
   ========================================================================== */
.main-menu{
	 > .menu > li{
			@include right-space(-5px, margin);
			&.last{
				margin: 0;
			}
			&:before{
				content: '';
				position: absolute;
				left:0;
				top: 0;
				height: 100%;
			}
			&.sfHover >a, & >a.active-trail{
				background: #F8F8F8;
			}
		 > a{
				border-top-width: 5px;
				padding: 0 20px;
				display: block;
				padding: 0 25px;
				line-height: 87px;
		 }
	 }
	 ul ul.menu{
			@extend %submenu-style;
			margin-top: 0
	 }
}

.l-page .fixed_header_clone{
	@extend %no-opacity;
	@include transition(opacity, .45);
	top: 0;
	&.fixed_showed{
		@extend %full-opacity;
	}
}

.ac-mini-cart .cart-i{
	@extend %submenu-style;
	.cart-i-frame{
		border: 0
	}
}


.cart-toggle-btn{
	//@include right-space($medium-space, padding);
	.font-icon{
		&:before{
			content: '\e94e';
			font-size: 30px;
		}
	}
}
.l-page .fixed_header_clone .cart-toggle-btn,
.l-page .fixed_header_clone .main-menu >ul >li >a{
	line-height: 65px;
}
/* Hero
   ========================================================================== */
.l-page .page-title{
	text-transform: uppercase;
}

/* Hero
   ========================================================================== */
.ac-fancy-menu .menu a:after{
	background: $content__dividercolor;
	border-color:transparent!important;
	@include font-size(13px);
}

/* Content
   ========================================================================== */
.l-page .l-node-bottom section > .s-i{
	border-width: 0;
}

.ac-about-author{
	> .s-i{
		border-width: 1px!important;
	}
}

/* Footer
   ========================================================================== */
.l-footer-wrapper{
	.ac-contact-style-compact .ac-font-icon-link,
	.acquia-share-links .ac-font-icon-wrap a,
	.ac-twitter.ac-style-compact li:before{
		border: 0;
		@include font-size(15px);
		.font-icon{
			width: 15px;
			height: auto;
			@include font-size(15px);
		}
		text-decoration: none;
	}
	a{
		text-decoration: underline;
	}
} 

/* Buttons
   ========================================================================== */

/* Misc
   ========================================================================== */
.ac-view-fade-in-left .features a{
	&:hover{
		color: $white;
		border-color: $accent-color;
	}
}
/* Shortcodes
   ========================================================================== */
.fancy-style .ac-tabs-tabs li.selected a{
	background: rgba(darken($hero-bg-color, 5), .75);
	color: #000;
}
.l-page .ac-toggle-container .ac-toggle-tab .ac-toggle-title:before{
	@extend %square-border;
	background: $content__dividercolor!important;
	border-color: transparent!important;
	color: #000!important
}

.ac-toggle-container.fancy-style .ac-toggle-pane{
	background: $content__framecolor
}

.l-page .ac-toggle-container .ac-toggle,
.l-page .ac-toggle-container .ac-toggle-tab{
	@extend %square-border;
}
/* Section Styles
   ========================================================================== */
.ac-section-style-2{
	.ac-button, button, .button, input[type="submit"]{
		border-color: #fff;
		border: 1px solid rgba(255,255,255,0.14);
		&:hover{
			border-color: darken($accent-color, 10%);
		}
	}
}

/* Features overlay */
.l-page .overlay,
.ac-overlay,
.ac-f,
.ac-popup-video .ac-f:hover{
	background: rgba($hero-bg-color, 0.85);
}

.l-page .ac-mini-feature{
	 .ac-f b{
			border: 0;
			background: url('data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2016%2016%22%20enable-background%3D%22new%200%200%2016%2016%22%20fill%3D%22%23EE3124%22%20xml%3Aspace%3D%22preserve%22%3E%3Crect%20x%3D%227%22%20width%3D%222%22%20height%3D%2216%22%2F%3E%3Crect%20y%3D%227%22%20width%3D%2216%22%20height%3D%222%22%2F%3E%3C%2Fsvg%3E') no-repeat center center!important;
	 }
}

.load-more-btn{
	&:hover{
		fill: $white;
	}
	.load-icon{
		fill: $accent-color;
	}
}

/* Portfolio */
.ac-portfolio article.item-i,
.ac-appearance-timeline .meta.details,
.ac-view-simple-sep.ac-framed-none .meta.link-details{
	border-color: $content__dividercolor;
}

.project-meta {
	.portfolio-like-btn{
		&:hover{
			b{
				@include svgLike($white);
			}
		}
		b{
			@include svgLike($accent-color);
			width: 28px;
		}
	}
}

%content-box-footer-style{
		@extend %clearfix;
		margin: 20px -20px 0;
		width: auto;
		display: block;
		height: 40px;
		line-height: 40px;
		border-top-width: 1px;
		border-top-style:solid;
		a{
			@extend %left-float;
			display: block;
			padding: 0 15px;
			width: 50%;
			color: #7A7979;
			margin: 0;
			white-space: nowrap;
			font-size :14px;
		}
}

%content-box-footer-right-col-style{
	background: $accent-color;
	color: $white;
	text-align: center;
}

.ac-view-simple-sep.ac-framed-none{
	article.item-i{
		border-width: 1px;
		border-style: solid;
	}
	.o-info{
		padding: 10px 20px 0;
	}
	.meta.link-details{
		@extend %content-box-footer-style;
		.read-more{
			@extend %content-box-footer-right-col-style;
			@extend %right-float;
		}
	}
}

.l-page .ac-related-works-wrap{
	background: $white;
	.block__title{
		margin-bottom: 60px;
	}
}
/** Blog **/
.l-page .ac-appearance-timeline .item-i{
	@extend %square-border;
	&, .ac-timeline-arrow{
		border-color: $hero-bg-color!important;
	}
	.meta.details{
		@extend %content-box-footer-style;
		.read-more{
			@extend %content-box-footer-right-col-style;
		}
	}
	&, .o-info{
		padding-bottom: 0;
	}
}
/* Store */
.quantity .ac-button{
	line-height: 20px;
}
.l-page .comment__content .item-i{
	background: transparent;
}

.l-page table {
	tr{
		&.odd{
			background: $white;
		}
	}
}

.l-page{
	.block__title,
	.ac-page-header{
		&.ac-margin-default{
			margin-bottom: $medium-space + 5px;
		}
	}
}

/* Preloader */
.ac-preloader{
	.l-page &{
		@extend %no-box-shadow;
		@extend %square-border;
		border: 1px solid rgba($hero-bg-color, .75);
		background: rgba($hero-bg-color, .7);
	}
}

.quantity .ac-button,
.acquia-share-links li a,
.acquia-share-links .ac-font-icon-wrap a{
	.l-content &{
		background: $hero-bg-color;
		border-color: transparent;
		color: #000;
		&:hover{
			background: $accent-color;
			color: $white;
		}
	}
}

#scroll-top{
	body &{
		@extend %full-opacity;
		@extend %square-border;
		background: #000
	}
}

table.sticky-table th{
	background: $hero-bg-color
}