// Load utility, base and components
@import "partials/utility";
$accent-color: #D950C2;

// Header
.site-branding__logo img{
	height: 65px;
	max-width: 180px;
}

.ac-view-fade-in-left .features a{
	background-color: $accent-color;
	&:hover{
		background-color: #E586D5;
	}
}

// Hero Section
.l-page .l-hero-light .page-title,
.l-page .l-hero-light .subtitle{
	color: #ACACAC
}

// Section style
.ac-contact-style-compact{
	.ac-section-style-2 &{
		.ac-font-icon-link{
      border: 0;
			background: rgba(#000, .45);
			display: inline-block
		}
		.font-icon{
		 color: $white;
		}
	}
}

// Portfolio
.ac-view-fade-in-bottom .title{
	font-weight: 500
}

// 2nd Level Titles
.node__title,
.title,
.ac-iconbox.ac-type-boxed-animated .ac-iconbox-title,
.ac-iconbox.ac-type-boxed-simple .ac-iconbox-title,
.ac-iconbox.ac-type-boxed-fancy .ac-iconbox-title{
	color: #777
}

.meta{
	@include font-size(14px);
}

// Footer
.l-page .l-footer-wrapper{
	border-color: #F7F7F7;
	@include background-image(linear-gradient(top, #F7F7F7, #EBEBEB));
}

// Buttons
.l-page .ac-bg_color-black{
	@include box-shadow(0 .27em 0 0 #000000, 0 4px 9px rgba(0,0,0,0.75));
	&:hover{
		border-color: #d585c8;
		background:#e6b6de;
		@include box-shadow(0 .27em 0 0 #e5a8db, 0 4px 9px rgba(0,0,0,0.75));
	}
}