/** Grid Shortcode
-----------------------------------*/
.ac-grid {
  margin: 0 (-$medium-space) (-$medium-space*2);
  &.ac-full-width.ac-no-borders{
    margin: 0!important;
    .ac-grid-item{
      margin-bottom: $large-space
    }
  }
  &.ac-no-borders{
    margin-bottom: 0;
  }
  .ac-grid-item{
    @extend %left-float;
  }
}

.l-page .ac-grid .ac-grid-item{
  padding: 0 $medium-space;
  margin-bottom:$medium-space*2;
  &.ac-no-b-border{
    margin-bottom: 0;
  }
  .g-i{
    position: relative;
  }
}

.ac-border-enabled {
  .ac-no-l-border .g-i:before,
  .ac-no-b-border .g-i:after{
      border-color: transparent!important;
   }
  .g-i{
    &:before, 
    &:after{
      @extend %content-divider-color !optional;
      border-width: 0 0 1px 1px;
      border-style: solid;
      display: block;
      position: absolute;
      content: "";
    }
    &:after{
      bottom: -$medium-space;
      left: 0;
      width: 100%;
      @include position(left, 0);
    }
    &:before{
      top: 0;
      height: 100%;
      @include position(left, -$medium-space);
    }
  }
  .g-i-i{
  }
}
